{
  "openapi": "3.1.0",
  "info": {
    "title": "HiredNow External API",
    "description": "The HiredNow External API allows Athena developers to securely access hiring campaign and candidate evaluation data from the HiredNow platform.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hirednow.ai/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/campaigns": {
      "get": {
        "summary": "Get Campaigns",
        "description": "Retrieves a list of all active and archived recruitment campaigns associated with a specific company.",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "description": "The unique ID of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/CampaignList" 
                }
              }
            }
          },
          "400": {
            "description": "Missing companyId",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/Error" 
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/Error" 
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/Error" 
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/results": {
      "get": {
        "summary": "Get Campaign Results",
        "description": "Retrieves summarized performance metrics and outcomes for a specific recruitment campaign, including total applicants, interviews, and hires.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "query",
            "description": "The unique ID of the campaign",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/CampaignResultsList" 
                }
              }
            }
          },
          "400": {
            "description": "Missing campaignId",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/Error" 
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/Error" 
                }
              }
            }
          },
          "404": {
            "description": "Campaign or sessions not found",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/Error" 
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/Error" 
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/results-per-session": {
      "get": {
        "summary": "Get Campaign Results Per Session",
        "description": "Fetches detailed performance insights for each session of a campaign, including metrics such as applicants, interviews, and hires per session.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "query",
            "description": "The unique ID of the campaign",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/SessionResultsList" 
                }
              }
            }
          },
          "400": {
            "description": "Missing campaignId",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/Error" 
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/Error" 
                }
              }
            }
          },
          "404": {
            "description": "Campaign or sessions not found",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/Error" 
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": { 
                  "$ref": "#/components/schemas/Error" 
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Campaign": {
        "type": "object",
        "required": [
          "campaignId", 
          "name", 
          "status", 
          "createdAt"
        ],
        "properties": {
          "campaignId": { 
            "type": "string", 
            "example": "c1a2b3" 
          },
          "name": { 
            "type": "string", 
            "example": "Marketing Intern 2025" 
          },
          "status": { 
            "type": "string", 
            "example": "active" 
          },
          "createdAt": { 
            "type": "string", 
            "format": "date-time", 
            "example": "2025-09-15T10:45:00Z" 
          }
        }
      },
      "CampaignResults": {
        "type": "object",
        "required": [
          "campaignId", 
          "name", 
          "totalApplicants", 
          "interviewed", 
          "hired", 
          "status", 
          "updatedAt"
        ],
        "properties": {
          "campaignId": { 
            "type": "string", 
            "example": "c1a2b3" 
          },
          "name": { 
            "type": "string", 
            "example": "Marketing Intern 2025" 
          },
          "totalApplicants": { 
            "type": "integer", 
            "example": 240 
          },
          "interviewed": { 
            "type": "integer", 
            "example": 75 
          },
          "hired": { 
            "type": "integer", 
            "example": 10 
          },
          "status": { 
            "type": "string", 
            "example": "active" 
          },
          "updatedAt": { 
            "type": "string", 
            "format": "date-time", 
            "example": "2025-10-10T14:25:00Z" 
          }
        }
      },
      "SessionResult": {
        "type": "object",
        "required": [
          "sessionId", 
          "sessionDate", 
          "applicants", 
          "interviewed", 
          "hired"
        ],
        "properties": {
          "sessionId": { 
            "type": "string", 
            "example": "s101" 
          },
          "sessionDate": { 
            "type": "string", 
            "format": "date", 
            "example": "2025-09-20" 
          },
          "applicants": { 
            "type": "integer", 
            "example": 85 
          },
          "interviewed": { 
            "type": "integer", 
            "example": 25 
          },
          "hired": { 
            "type": "integer", 
            "example": 4 
          }
        }
      },
      "CampaignList": {
        "type": "object",
        "properties": {
          "data": { 
            "type": "array", 
            "items": { 
              "$ref": "#/components/schemas/Campaign" 
            } 
          }
        }
      },
      "CampaignResultsList": {
        "type": "object",
        "properties": {
          "data": { 
            "type": "array", 
            "items": { 
              "$ref": "#/components/schemas/CampaignResults" 
            } 
          }
        }
      },
      "SessionResultsList": {
        "type": "object",
        "properties": {
          "data": { 
            "type": "array", 
            "items": { 
              "$ref": "#/components/schemas/SessionResult"
            } 
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Invalid or expired API key"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
