{
  "openapi": "3.1.0",
  "info": {
    "title": "HiredNow External API",
    "description": "The HiredNow External API allows Athena developers to securely access hiring campaign and candidate evaluation data from the HiredNow platform.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hirednow.ai/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/campaigns": {
      "get": {
        "summary": "Get Campaigns",
        "description": "Retrieves a list of all active and archived recruitment campaigns associated with a specific company.",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "description": "The unique ID of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "campaignId": "c1a2b3",
                      "name": "Marketing Intern 2025",
                      "totalApplicants": 240,
                      "interviewed": 75,
                      "hired": 10,
                      "status": "active",
                      "updatedAt": "2025-10-10T14:25:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing companyId",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "Missing required query parameter 'companyId'"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or expired API key"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "example": {
                  "error": "Server Error",
                  "message": "Internal server error. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/results": {
      "get": {
        "summary": "Get Campaign Results",
        "description": "Retrieves summarized performance metrics and outcomes for a specific recruitment campaign, including total applicants, interviews, and hires.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "query",
            "description": "The unique ID of the campaign",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "campaignId": "c1a2b3",
                      "name": "Marketing Intern 2025",
                      "totalApplicants": 240,
                      "interviewed": 75,
                      "hired": 10,
                      "status": "active",
                      "updatedAt": "2025-10-10T14:25:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing campaignId",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "Missing required query parameter 'campaignId'"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or expired API key"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "Campaign with ID 'c1a2b3' not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "example": {
                  "error": "Server Error",
                  "message": "Internal server error. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/results-per-session": {
      "get": {
        "summary": "Get Campaign Results Per Session",
        "description": "Fetches detailed performance insights for each session of a campaign, including metrics such as applicants, interviews, and hires per session.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "query",
            "description": "The unique ID of the campaign",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "sessionId": "s101",
                      "sessionDate": "2025-09-20",
                      "applicants": 85,
                      "interviewed": 25,
                      "hired": 4
                    },
                    {
                      "sessionId": "s102",
                      "sessionDate": "2025-10-05",
                      "applicants": 155,
                      "interviewed": 50,
                      "hired": 6
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing campaignId",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "Missing required query parameter 'campaignId'"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or expired API key"
                }
              }
            }
          },
          "404": {
            "description": "Campaign or sessions not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "No sessions found for campaign ID 'c1a2b3'"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "example": {
                  "error": "Server Error",
                  "message": "Internal server error. Please try again later."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Invalid or expired API key"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
